<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="MKMPriceWatcherRollingFile" fileName="C:\logs\MKMPriceWatcher.log"  filePattern="C:\logs\$${date:yyyy-MM}\MKMPriceWatcher-%d{MM-dd-yyyy}-%i.log.zip">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MKMPriceWatcherRollingFile"/>
        </Root>
    </Loggers>
</Configuration>